
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Azeret Mono", monospace;;
}

/* common styles starts here... */

.btn {
    font-size: 20px;
    width: 240px;
    height: 66px;
    padding: 21px 34px 21px 34px;
    border: none;
    background-color: black;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    text-decoration: none;
    border: 0;
    outline: 0;
}


/* common styles ends here... */

/* header area styling */

header {
    height: 800px;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 74px;
}

nav {
    padding: 10px 20px;
    margin: 20px 20px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    list-style: none;
    padding: 0 130px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

.nav-btn {
    padding: 15px 20px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    color: #0D1321;
    font-family: Azeret Mono;
    font-size: 15px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}

.nav-name {
    color: #0D1321;
    font-size: 1.5rem;
    font-weight: 800;
}

/* header area styling end */

/* banner section styling starts here */


.banner {
    background-image: url(../B10A1-Challenge-Begins/assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 20px 20px 74px 20px;
    height: 652px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.banner-image{
    margin-bottom: 30px;
}

.banner-heading {
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
}

.banner-peragraph {
    margin: 30px 0px;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}

.banner-content {
    text-align: center;
    margin-top: 30px;
}

/* banner section styling ends here ... */

/* main section styling starts here ... */

/* why-web-development starts here ...*/

.why-web-development {
    width: 1200px;
    height: 1380px;
    margin: 0 auto;
    background: rgba(13, 19, 33, 0.02);
    border-radius: 16px;
}

.head {
    padding: 10px;
    text-align: center;
}

.main-heading {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 70px;
}

.main-peragraph {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 48px;
    width: 850px;
    margin: 0 auto;
}

.card-1 {
    width: 946px;
    height: 336px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    padding: 48px;
    background-color: rgba(255, 255, 255, 0);
    margin-bottom: 32px;
    margin-top: 47px;
}

.card-content h1 {
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 30px;
}

.card-content p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: .6;
    margin-bottom: 30px;
}

.card-content a {
    color: black;
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.card-2 {
    background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    width: 946px;
    height: 336px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    border-radius: 16px;
    padding: 48px;
    background-color: rgba(255, 255, 255, 0);
    margin-bottom: 32px;
}


.card-3 {
    width: 946px;
    height: 336px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    padding: 48px;
    background-color: rgba(255, 255, 255, 0);
    margin-bottom: 88px;
}

/* why-web-development ends here... */

/* my inspiration section starts here... */

.my-inspiration {
    width: 1200px;
    height: 750px;
    text-align: center;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 170px;
}

.my-inspiration h1{
    margin: 20px 0 24px 0;
}

.my-inspiration p {
    width: 800px;
    margin: 0 auto;
}

.youTube-video {
    width: 1200px;
}

.youTube-video iframe {
    width: 1100px;
    height: 580px;
    border-radius: 15px;
    margin: 30px 0;
}

/* my inspiration section ends here... */

/* my current target section starts here... */

.my-current-target {
    width: 1200px;
    height: 750px;
    text-align: center;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 170px;
    border: 1px solid;
}

.my-current-target h1 {
    margin-bottom: 30px;
}

.my-current-target p {
    width: 800px;
    margin: 0 auto;
}

/* my current target section starts here... */

/* main section styling ends here... */