
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Azeret Mono", monospace;;
}

/* common styles here... */

.btn {
    font-size: 20px;
    width: 240px;
    height: 66px;
    padding: 21px 34px 21px 34px;
    border: none;
    background-color: black;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}

/* header area styling */

header {
    height: 100vh;
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    border: 1px solid black;
}

nav {
    border: 1px solid black;
    padding: 10px 20px;
    margin: 20px 20px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

.nav-btn {
    padding: 15px 20px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    color: #0D1321;
    font-family: Azeret Mono;
    font-size: 15px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}

.nav-name {
    color: #0D1321;
    font-size: 1.5rem;
    font-weight: 800;
}

/* header area styling end */

/* banner section styling starts here */

.banner {
    background-image: url(../B10A1-Challenge-Begins/assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 20px 20px 74px 20px;
    border: 1px solid black;
    height: 652px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.banner-image{
    margin-bottom: 30px;
}

.banner-heading {
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
}

.banner-peragraph {
    margin: 30px 0px;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}

.banner-content {
    text-align: center;
    margin-top: 30px;
}



/* banner section styling ends here */